.btn-container{
  padding: 7px 15px;
  min-width: 50px;
  border: none;
  transition: all .3s ease-in-out;
  box-shadow: 1px 5px 8px 2px rgb(0 0 0 / 70%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-container.blue{
  background-color: #1fc4db;
}

.btn-container.blue:hover{
  transform: scale(1.1);
  cursor: pointer;
  box-shadow: 5px 5px 2px 0px #24dff9, 9px 9px 2px 0px #82e7f5;
  border-radius: 5px;
}

.btn-container.red{
  background-color: #e55a7a;
}

.btn-container.red:hover{
  transform: scale(1.1);
  cursor: pointer;
  box-shadow: 5px 5px 2px 0px #cd657d, 9px 9px 2px 0px #e1a5b3;
  border-radius: 5px;
}

.pencil-icon{
  font-size: 25px;
  color: #fff;
  font-weight: bold;
}

.check-icon{
  font-size: 25px;
  color: #fff;
  font-weight: bold;
}